In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/yellowcab_demo.csv',
                 parse_dates=['tpep_pickup_datetime','tpep_dropoff_datetime'])

In [3]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,fare_amount,tip_amount
0,2017-01-10 18:37:59,2017-01-10 18:49:24,0.71,8.0,0.00
1,2017-01-05 15:14:52,2017-01-05 15:23:28,1.16,7.5,1.66
2,2017-01-11 14:47:52,2017-01-11 14:59:15,1.30,8.5,1.00
3,2017-01-04 07:31:49,2017-01-04 07:39:21,0.80,6.5,0.00
4,2017-01-12 17:43:50,2017-01-12 17:51:25,1.40,7.0,0.00

In [4]:
df.head(3)

,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,fare_amount,tip_amount
0,2017-01-10 18:37:59,2017-01-10 18:49:24,0.71,8.0,0.00
1,2017-01-05 15:14:52,2017-01-05 15:23:28,1.16,7.5,1.66
2,2017-01-11 14:47:52,2017-01-11 14:59:15,1.30,8.5,1.00

In [5]:
f'{df.shape[0]} rows'

'1000 rows'

In [8]:
'number of rows: {}, number of columns: {}'.format(*df.shape)

'number of rows: 1000, number of columns: 5'

In [9]:
min(df.trip_distance)

0.0

In [10]:
df.tpep_pickup_datetime.min()

Timestamp('2017-01-01 01:07:47')

In [11]:
min(df.tpep_pickup_datetime)

Timestamp('2017-01-01 01:07:47')